<!DOCTYPE html>
<html __MANIFEST__>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	__VIEWPORT__
    <title>__GAME_NAME__</title>
    <style>
        html, body {
            padding: 0;
            margin: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="./Assets/css/style.css"/>
	<!--<script src="/Html5/lib/pokerLib.js"></script>-->

    <script>
        // The game configuration
        var qici = {};
        qici.config = {
            gameName: '__GAME_NAME__',
            localStorageID: '__LOCAL_STORAGE_ID__',
            gameInstance: '__GAME_INSTANCE__',
            frameRate: __FRAMERATE__,
            fixedGameSize: __FIXEDGAMESIZE__,
            resolutionRatio: __RESOLUTIONRATIO__,
            customSettings: __CUSTOM_SETTINGS__,
            backgroundColor: __BACKGROUNDCOLOR__,
            runInBackground: __RUNINBACKGROUND__,
            antialias: __ANTIALIAS__,
            transparent: __TRANSPARENT__,
            developerMode: __DEVELOPERMODE__,
            renderer: '__RENDERER__',
            loadingPrefab: '__LOADINGPREFAB__',
            scene: [
                __SCENE_LIST__
            ],
            entryScene : '__ENTRY_SCENE__',
            dirtyRectangles: __DIRTYRECTAGNLES__,
            loadingHandler: 'progressHandler',
            loading: {
                loadingText: 'Loading, please wait...',
                loadingInterval: 200,
                brightingInterval: 10,
                blinkingCount: 5,
                blinkingInterval: 70,
                fadingInInterval: 400,
                fadingOutInterval: 600
            }
        };

 __PLUGIN_VARIABLES__

        qici.scripts = [
            __URLMAP_SCRIPTS__
            '/Html5/lib/qici/phaser-2.3.0.min.js',
            '/Html5/lib/qici/webfontloader.js',
            '/Html5/lib/qici/qc-core-1.2.0.js',
            '/Html5/lib/qici/qc-webgl-1.2.0.js',
            // sound duration
            __SOUND_DURATION__
            // asset count
            __ASSET_COUNT__
            // External scripts for plugins
			__EXTERNAL_PLUGINS_SCRIPTS__
            // User scripts
            './__PUBLISH_USER_SCRIPTS__'
        ];

        // Asset count that need preload in boot
        qici.loadingAssetCount = __LOADING_ASSET_COUNT__;
    </script>
</head>

<body onload="qici.init();">
    <div style="overflow:hidden;padding:0;margin:0;width:100%;height:100%;">
        <div id="gameDiv" style="position:relative;"></div>
    </div>
    <script src='/Html5/lib/qici/qc-loading-1.2.0.js'></script>
</body>

</html>
